<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cis.palm360">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.cis.palm360.Oil3FPalmMainApplication"
        android:allowBackup="true"
        android:icon="@drawable/palm360_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.cis.palm360.FiltermapsActivity"
            android:exported="false" />
        <activity
            android:name="com.cis.palm360.ViewmapsActivity"
            android:exported="false" />
        <activity
            android:name="com.cis.palm360.palmcare.ClosecropMaintenanceList"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.palmcare.CloseHarvestingList"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.palmcare.NoVisitPlotslistScreen"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.palmcare.palmcareScreen"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PlantationAudit"
            android:exported="false" />
        <activity
            android:name="com.cis.palm360.cropmaintenance.ViewRecoveryFarmers"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cis.palm360.cropmaintenance.RecoveryFarmers"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.cis.palm360.cropmaintenance.UploadImagesNew"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.cis.palm360.cropmaintenance.HarvestingActivity" />
        <activity android:name="com.cis.palm360.cropmaintenance.PlantationAudit" />
        <activity android:name="com.cis.palm360.transportservice.TransportActivity" />
        <activity android:name="com.cis.palm360.transportservice.TransportServiceQuestionerActivity" />
        <activity
            android:name="com.cis.palm360.ui.SplashScreen"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cis.palm360.ui.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.ui.ComplaintsScreenActivity"
            android:label="@string/title_activity_login_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.areaextension.RegistrationFlowScreen"
            android:label="@string/title_activity_registration_flow_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.conversion.ConversionMainFlowActivity"
            android:label="@string/conversiontitle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.areaextension.MarketSurveyScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.areaextension.location.LocationSelectionScreen"
            android:parentActivityName="com.cis.palm360.ui.HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.cropmaintenance.CropMaintenanceHomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.ui.OilPalmBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.areacalculator.FieldCalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.farmersearch.SearchFarmerScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.prospectiveFarmers.NewProspectiveFarmers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.datasync.ui.RefreshSyncActivity"
            android:label="@string/title_activity_oil_palm_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.activitylogdetails.LogBookScreenActivity"
            android:label="@string/log_book"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.ui.MainLoginScreen"
            android:label="@string/title_activity_main_login_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.ui.PlotDetailsScreen"
            android:label="@string/title_activity_plot_details_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.areacalculator.PreViewAreaCalScreen"
            android:label="@string/title_activity_pre_view_area_cal_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.ui.KrasDisplayScreen"
            android:label="@string/title_activity_kras_display_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.alerts.AlertsDisplayScreen"
            android:label="@string/title_activity_alerts_display_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.cis.palm360.ui.NotificationsScreen"
            android:label="@string/title_activity_notifications_screen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAT94-GIaas6lpXUI4iMqYnWvZe1Q1WPEw"></meta-data>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b74338756d04c8e32dc9d352bd2ecaf33835f06f" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.cis.palm360.helper.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.cis.palm360.areacalculator.LocationService" />
        <service
            android:name="com.cis.palm360.FaLogTracking.FalogService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />
        <service
            android:name="com.cis.palm360.cropmaintenance.RecordingService"
            android:enabled="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>